services:
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "9000:80"

  admin:
    build:
      context: .
      dockerfile: apps/admin/Dockerfile
    ports:
      - "9001:80"
